# Environment
.env
.env.local
.env.production
.env.development

# Dependencies
node_modules/

# Next.js
.next/
out/
build/
dist/

# Testing
coverage/
.nyc_output/

# Database
db/
db_files/
backups/
data/*.backup

# Uploads
uploads/

# Misc
*.log
*.pid
*.seed
*.pid.lock
*.swp
.DS_Store
.vscode/
.vs/
.npm
.eslintcache
wget*

# TypeScript
tsconfig.tsbuildinfo