version: '3.8'

services:
  mongo:
    image: mongo:7.0
    container_name: voting-mongo-dev
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: voting_sa
    ports:
      - "27017:27017"
    volumes:
      - mongo-data-dev:/data/db
    networks:
      - voting-network

networks:
  voting-network:
    driver: bridge

volumes:
  mongo-data-dev:
